a{
    color: white;
    font-size: large;
    text-decoration: none;
}

a:hover{
    color:#9bc8ec;
    text-decoration: none;
}

[data-nav]{
    color: white;
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    
}

[data-nav="2"]{
    height: 30px;
}

[data-nav="2"] li{
   
    height: 3em;
   
}

.navbar-brand{
    color: white;
    
}

[data-form="1"]{
   width: 40%;
   margin: 0 auto;
   
   
}

[data-btn]{
   width: 100%;
}

.cardsContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

@keyframes appear {
    from {transform: scale(0.0);}
    to {transform: scale(1.0);}
  }
  @keyframes disappear {
    from {opacity: 1;}
    to {opacity: 0;}
  }


.originalCard{
    display:none;
    
}

.card-img-top{
  width:200px;
  height: 200px;
  margin: -20px auto;
  border: #9bc8ec double 5px;
  border-radius:80%;  

}

.cardFadeIn{
   animation-name: appear;
   animation-duration: 1s;
}

.cardFadeOut{
    animation-name: disappear;
    animation-duration: 0.5s;
 }

.card{
    font-size: 12px;
    background-image: url(../img/3418100.jpg);
    background-size: cover;
    height: auto;
 
}

h4{
    color: white;
    background-color: royalblue;
    margin-top: 8px;
}
